<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>red</key>
		<integer>48</integer>
		<key>green</key>
		<integer>81</integer>
		<key>blue</key>
		<integer>111</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>red</key>
		<integer>53</integer>
		<key>green</key>
		<integer>91</integer>
		<key>blue</key>
		<integer>124</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>red</key>
		<integer>58</integer>
		<key>green</key>
		<integer>101</integer>
		<key>blue</key>
		<integer>138</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>red</key>
		<integer>64</integer>
		<key>green</key>
		<integer>111</integer>
		<key>blue</key>
		<integer>152</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>red</key>
		<integer>69</integer>
		<key>green</key>
		<integer>122</integer>
		<key>blue</key>
		<integer>166</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>red</key>
		<integer>75</integer>
		<key>green</key>
		<integer>132</integer>
		<key>blue</key>
		<integer>181</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>red</key>
		<integer>81</integer>
		<key>green</key>
		<integer>143</integer>
		<key>blue</key>
		<integer>197</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>red</key>
		<integer>87</integer>
		<key>green</key>
		<integer>154</integer>
		<key>blue</key>
		<integer>212</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>red</key>
		<integer>93</integer>
		<key>green</key>
		<integer>166</integer>
		<key>blue</key>
		<integer>228</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>red</key>
		<integer>106</integer>
		<key>green</key>
		<integer>189</integer>
		<key>blue</key>
		<integer>255</integer>
	</dict>
</dict>
</plist>
